<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</head>
<body>
<div class="jumbotron">
    <h2>Sucess!! Welcome to the Yoga Camp!</h2>
    <br>
    <div className="details">
            <h>Name :{{user.name}} </h>
            <br>
            <h>Age : {{user.age}} years </h>
            <br>
            <h>Start Date : {{user.startDate}} </h>
            <br>
            <h>Batch : {{user.batch}} </h>
            <br>
            <h>Fees Paid : 500 Rs. </h>
    </div>
    <a href="./"><button type="submit" class="btn btn-primary">Click here to return to main page</button></a>
    
</div>
</body>
</html>


